#alpha{
   margin-left: 35%; 
   font-size: larger;
   min-width: 500px;
}
td{
    text-align: center;
    font-style: italic;
    border: 2px solid black;
    border-collapse: collapse;
}
.course:hover{
    background-color: gold;
}
.students:hover{
    background-color: cyan;
}

body{
    background-color: rgb(39, 156, 3);
}